<div class="container">
  <div class="row jusitfy-content-center">
    <h3><%= @customer.full_name %>さんの会員情報編集</h3>
  </div>
  <div class="row jusitfy-content-center">
    <div class="col-md-8">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
        <table class="table">
          <tr>
            <td><%= f.label :"名前" %></td>
            <td>
              <%= f.label :last_name, "(姓)" %> <%= f.text_field :last_name, autofocus: true, placeholder: "令和" %>
            </td>
            <td>
              <%= f.label :first_name, "(名)" %> <%= f.text_field :first_name, autofocus: true, placeholder: "道子" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :"フリガナ" %></td>
            <td>
              <%= f.label :last_name_kana, "(セイ)" %> <%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ" %>
            </td>
            <td>
              <%= f.label :first_name_kana, "(メイ)" %> <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
            <td>
              <%= f.text_field :postal_code, autofocus: true, placeholder: "0000000" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :address, "住所" %></td>
            <td>
              <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :telephone_number, "電話番号(ハイフンなし)" %></td>
            <td>
              <%= f.text_field :telephone_number, autofocus: true, placeholder: "00012345678" %>
            </td>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>
    </div>
  </div>
</div>