<div class="container">
  <div class="row justify-content-center">
    <h3>ログイン</h3>
  </div>
  <div class="row">
    <h5>会員の方はこちらからログイン</h5>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-6 form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-md-6 form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h5>会員登録がお済みでない方</h5>
  </div>
  <div class="row justify-content-center">
    <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
  </div>
</div>
